@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "libs/tiny-slider";
@import "libs/animate.min";

@import "base/variables";
@import "base/animations";

body {
  font-family: "Museo Sans Cyrl", sans-serif;
}

img {
  height: auto;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

@import "blocks/buttons";
@import "blocks/titles";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feed";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/page-up";

@import "blocks/media";
