.consultation {
  padding: 100px 0;
  background-image: url("../img/consultation.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__desc {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
  }
  input.error {
    outline: 1px solid red;
  }
  input.valid {
    outline: 1px solid green;
  }
  label.error {
    // margin-bottom: 15px;
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
  }
}
