@media (max-width: 1024px) {
  .title {
    &_left {
      text-align: center;
    }
  }
  .container {
    padding: 0 10px;
  }
  .header {
    &__official {
      display: none;
    }
  }
  .promo {
    padding: 20px 0 80px;
    background-position: left;
    &__wrapper {
      align-items: center;
    }
  }
  .advantages {
    padding: 60px 0 55px;
    &__items {
      margin-top: 40px;
    }
  }
  .consultation {
    padding: 80px 0;
    &__desc {
      text-align: center;
    }
  }
  .feed-form {
    margin-left: auto;
    margin-right: auto;
  }
  .carousel {
    padding: 50px 0;
  }
  .feed {
    &__img {
      margin-right: 30px;
    }
    &__desc {
      max-width: 500px;
    }
  }
  .footer {
    &__info {
      width: 340px;
      height: 180px;
      padding: 25px 0;
    }
    &__address {
      font-size: 18px;
    }
    &__phone {
      font-size: 18px;
    }
    &__social {
      &-item {
        width: 40px;
        height: 40px;
        img {
          height: 18px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .promo {
    &__icon {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .advantages {
    padding: 50px 0 45px;
    &__items {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
    }
    &__item {
      width: 65%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__img {
      margin-bottom: 10px;
    }
    &__subtitle {
      margin-bottom: 10px;
      font-size: 16px;
    }
    &__desc {
      font-size: 14px;
    }
  }
  .consultation {
    padding: 70px 0;
  }
  .carousel {
    .prev,
    .next {
      display: none;
    }
  }
  .catalog {
    padding-bottom: 60px;
    &__tab {
      width: 170px;
      font-size: 16px;
    }
    &__content {
      margin-top: 40px;
    }
  }
  .feed {
    &__item {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      text-align: center;
    }
    &__img {
      margin-bottom: 20px;
      margin-right: 0;
    }
    &__desc {
      line-height: 21px;
    }
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 24px;
    line-height: 36px;
  }
  .button_main {
    width: 275px;
  }
  .header {
    &__logo {
      width: 190px;
    }
    &__phone {
      font-size: 14px;
    }
    &__button {
      width: 130px;
      font-size: 11px;
    }
  }
  .promo {
    padding: 15px 0 75px;
    &__header {
      font-size: 36px;
    }
    &__subheader {
      margin-bottom: 50px;
      font-size: 20px;
    }
    &__icons {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
    }
    &__icon {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__img {
      width: 38px;
      height: 40px;
      margin-bottom: 15px;
    }
    &__desc {
      font-size: 12px;
    }
  }
  .advantages {
    &__items {
      margin-top: 30px;
    }
    &__item {
      width: 80%;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__img {
      margin-bottom: 5px;
    }
    &__subtitle {
      margin-bottom: 6px;
      font-size: 12px;
    }
  }
  .consultation {
    padding: 50px 0;
    &__desc {
      font-size: 18px;
      line-height: 25px;
    }
  }
  .catalog {
    padding-bottom: 50px;
    &__tabs {
      flex-direction: column;
      margin-top: 35px;
    }
    &__tab {
      width: 80%;
      transform: none;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
      }
      div {
        transform: none;
      }
    }
    &__content {
      margin-top: 30px;
    }
    &-item {
      margin: 10px 0;
    }
  }
  .feed {
    padding-bottom: 40px;
    &__img {
      width: 140px;
      height: 140px;
    }
    &__desc {
      padding: 0 20px;
      font-size: 15px;
    }
  }
  .footer {
    &__info {
      width: 300px;
      height: 160px;
      padding: 20px 0;
    }
    &__address {
      font-size: 16px;
    }
    &__phone {
      font-size: 16px;
    }
    &__social {
      &-item {
        width: 36px;
        height: 36px;
        img {
          height: 18px;
        }
      }
    }
  }
  .overlay {
    .modal {
      min-width: auto;
      width: 80%;
      padding: 30px 20px 30px;
      &__subtitle {
        font-size: 17px;
      }
      &__desc {
        font-size: 12px;
      }
      &__close {
        top: -4px;
        right: 5px;
        font-size: 36px;
      }
      .feed-form_modal {
        width: 90%;
        .button_submit {
          font-size: 14px;
        }
      }
    }
  }
  .modal {
    label.error {
      font-size: 12px;
    }
  }
  .page-up {
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 20px;
    line-height: 30px;
    &_left {
      margin-bottom: 12px;
    }
  }
  .header {
    flex-direction: column;
    &__logo {
      width: 200px;
      margin-bottom: 15px;
    }
    &__contacts {
      align-items: center;
    }
    &__button {
      width: 175px;
      font-size: 12px;
    }
  }
  .consultation {
    &__desc {
      font-size: 16px;
      line-height: 22px;
    }
    .feed-form {
      margin-top: 30px;
    }
  }
  .overlay {
    .modal {
      width: 90%;
      .feed-form_modal {
        .button_submit {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 315px) {
  .button {
    &_main {
      width: 250px;
    }
  }
  .feed-form {
    width: 250px;
  }
  .footer {
    &__info {
      width: 260px;
      height: 150px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__address,
    &__phone {
      font-size: 14px;
    }
  }
}
